<%= form_for [@user,@shelf] do |f|  %>
    <%= render "shared/error_messages" , object: f.object%>
    <div class="tip_form">
        <h4><%= yield(:title) %></h4>
        <%= f.text_field :name %>
    </div>
    <div class="button">
        <%= f.submit yield(:button) , class: "btn btn-primary"%>
    </div>
<% end %>
<% if !@shelf.id.nil? &&current_user?(@user) %>
    <div class="button">
        <%= button_to "Shelfを削除する", [@user,@shelf], method: :delete, data:{ confirm:"Shelfを削除してもよろしいですか?"},class:"btn btn-danger" %>
    </div>
<% end %>