<aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <section>
        <% if current_user?(@user) %>
        <div class="text-center">
            <%= link_to "Tipsを投稿する。", new_user_tip_path(@user), class: "btn btn-primary align-center" %>
            <%= link_to "Shelfを作成する。", new_user_shelf_path(@user), class: "btn btn-primary align-center" %>
        </div>
        <% end %>
    </section>
         <section class="stats">
        <%= render 'shared/stats' %>
     </section>
    <section>
        <div class="shelf_margin">
            <ol class="shelves">
                <li><%= link_to "すべて", @user %></li>
                <li><%= link_to "未分類", user_shelf_path(@user,:nil) %></li>
                <% @user.shelves.each do |shelf| %>
                    <% if !shelf.id.nil? %>
                        <li><%= link_to shelf.name, user_shelf_path(@user,shelf.id) %></li>
                    <% end %>
                <% end %>
            </ol>
        </div>
    </section>
</aside>