<% provide(:title, "Edit up") %>
<% provide(:url, user_path) %>
<% provide(:button_text,"Save changes") %>
<h1>プロフィール変更</h1>
<div class="row">
    <div class="col-sm-6 offset-sm-3">
        <div class="gravatar_edit">
            <%= gravatar_for @user %>
            <a href="http://gravatar.com/emails" target="blank" rel="noopener">プロフィール画像はgravatarを利用しています。</a> 
        </div>
        <%= form_for @user, url: yield(:url) do |f| %>
            <%= render "shared/error_messages" , object: f.object %>
            <%= f.label :nama , "名前"%>
            <%= f.text_field :name,class:"form_control" %>
            <%= f.label :email %>
            <% if @user.email = "wsaito.jlo@gmail.com" %>
                <%= f.text_field :email,class:"form_control", readonly: true %>
            <% else %>
                <%= f.text_field :email,class:"form_control" %>
            <% end %>
            <%= f.fields_for :user_detail do |g| %>
                <%= g.label :profile_description, "自己紹介(200文字以内)" %>
                <%= g.text_area :profile_description,size: "20x10" %>
                <%= link_to "パスワードの変更はこちら", password_user_path %>
            <% end %>
            <%= f.submit yield(:button_text) ,class:"btn btn-primary" %>
        <% end %>
    </div>
</div>