<% provide(:title, "Edit up") %>
<% provide(:url, user_path) %>
<% provide(:button_text,"Save changes") %>
<% provide(:url, user_path) %>
<h1>パスワード変更</h1>
<div class="row">
    <div class="col-sm-6 offset-sm-3">
        <%= form_for @user, url: user_path do |f| %>
            <%= f.label :password ,"パスワード"%>
            <%= f.password_field :password,class:"form_control" %>
            <%= f.label :password_confirmation, "パスワード(確認)" %>
            <%= f.password_field :password_confirmation,class:"form_control" %>
            <%= f.submit yield(:button_text) ,class:"btn btn-primary" %>
        <% end %>   
    </div>
</div>