<li id="tip-<%= tip.id %>">
  <%= link_to gravatar_for(tip.user, size: 50), tip.user %>
  <span class="user"><%= link_to tip.user.name, tip.user %></span>
  <span class="tip_content"><%= tip.content %></span>
    <ol class="reason_content" %>
      <% tip.reasons.each do  |reason| %>
        <li><%= reason.content %></li>
      <% end %>
    </ol>
  <span class="timestamp">
    Posted <%= time_ago_in_words(tip.created_at) %> ago.
  </span>
</li>