<%= form_for([@user,@tip]) do |f|  %>
    <%= render "shared/error_messages" , object: f.object%>
    <h3 class="border_line_bottom"><%= yield(:title) %></h3>
    <div class="ml-4">
        <div class="form-group">
            <h4>タイトル</h4>
            <%= f.text_field :content, class: "form-control" %>
        </div>
        <div class="form-group">
            <h4>理由</h4>
            <ul>
            <%= f.nested_fields_for :reasons  do |g| %>
                <li>
                    <div class="form-row">
                        <div class="col-9 mb-2">
                            <%= g.text_field :content , class: "form-control"  %>
                        </div>
                        <div class ="col-3 mb-2">
                           <%= g.remove_nested_fields_link "削除" ,class: "btn btn-danger form-control", role: "button" %>
                        </div>
                    </div>
                </li>
            <% end %>
            </ul>
            <div class="form-row">
                <div class="col-4 col-md-3 ml-auto">
                    <%= f.add_nested_fields_link :reasons, "理由の追加", class: "btn btn-primary form-control", role: "button" %>
                </div>
            </div>
        </div>
        <h4>Shelf</h4>
        <div class="shelf_pulldown form-group">
            <% if @shelf.nil? %> 
                <%= f.select :shelf_id,[ ["未分類", nil]], include_blank: "未分類", class: "form-control" %>
            <% else %>
                <%= f.collection_select :shelf_id,@shelf.select("id,name") ,:id,:name ,include_blank: "未分類", prompt: "",class: "form-control" %>
            <% end %>
        </div>
        <div class="form-group">
            <h4>詳細</h4>
            <div class="text_field">
                <%= f.text_area :detail,size: "20x10" %>
            </div>
        </div>
        <% if !@refered_tip.nil? %>
            <%= f.hidden_field :refer_id, value: @refered_tip.id %>
            <div >
                <h4>引用するTip</h4>
                <div class="tips refer">
                    <%= render partial: "tip_detail",  locals:{tip: @refered_tip,user: @refered_user}%>
                </div>
            </div>
        <% end %>
        <div class="form-group">
            <%= f.submit yield(:button) , class: "btn btn-primary"%>
        </div>
    </div>
<% end %>
<% if !@tip.id.nil? && current_user?(@user) %>
    <div class="form-group ml-4">
        <%= button_to "Tipを削除する", [@user,@tip] , method: :delete, data:{ confirm:"Tipを削除してもよろしいですか?"},class:"btn btn-danger" %>
    </div>
<% end %>