<%= form_for(@tip) do |f|  %>
    <%= render "shared/error_messages" , object: f.object%>
    <h3 class="border_line_bottom"><%= yield(:title) %></h3>
    <div class="tip_form">
        <h4>タイトル</h4>
        <%= f.text_field :content %>
        <h4>理由</h4>
        <ul>
        <%= f.nested_fields_for :reasons  do |g| %>
            <li>
                <%= g.text_field :content %>
                <%= g.remove_nested_fields_link "削除" ,class: "btn btn-danger", role: "button" %>
            </li>
        <% end %>
        </ul>
        <div class="text-left">
            <%= f.add_nested_fields_link :reasons, "理由の追加", class: "btn btn-primary add_Reason", role: "button" %>
        </div>
        <div class="shelf_pulldown">
            <%= f.collection_select :shelf_id, @shelf.select("id,name") ,:id,:name ,include_blank: "未分類" %>
        </div>
    </div>
    <div class="button">
        <%= f.submit yield(:button) , class: "btn btn-primary"%>
    </div>
<% end %>
<% if !@tip.id.nil? && current_user?(@user) %>
    <div class="button">
        <%= button_to "Tipを削除する", @tip, method: :delete, data:{ confirm:"Tipを削除してもよろしいですか?"},class:"btn btn-danger" %>
    </div>
<% end %>