<li id="tip-<%= tip.id %>">
  <%= link_to gravatar_for(tip.user, size: 50), tip.user %>
    <span class="user">
        <%= link_to tip.user.name, tip.user %>
        </span>
    <span class="tip_content">
        <%= tip.content %>
        </span>
    <ol class="reason_content" %>
        <% tip.reasons.each do  |reason| %>
          <li><%= reason.content %></li>
        <% end %>
    </ol>
    <div class="detail pt-3">
        詳細
        <div class="pl-4">
            <%= simple_format(tip.detail) %>
        </div>
    </div>
    <div>
        <span class="timestamp">
            Posted <%= time_ago_in_words(tip.created_at) %> ago.
        </span>
        <% if logged_in? && (tip.user_id != current_user.id) && !request.url.match('refer')%>
            <%= link_to user_tip_refer_path(@user,tip) , class:"text-right btn btn-default btn-s-md" do %>
                <i class="fas fa-retweet"></i>
            <% end %>
            <span class="like_button">
                <% if @likes.nil?||!@likes.where(tip_id: tip.id).any? %>
                    <%= render partial: "tips/like_form", locals:{tip: tip} %>
                <% else %>
                    <%= render partial: "tips/like_cancel_form", locals:{tip: tip} %>
                <% end %>
            </span>
        <% end %>
        <% if tip.delete_flg == true%>
            <span>
                 <%= link_to "このTipは更新されました。", user_tip_path(user,id: tip.parent_id), class:"text-right"  %>
            </span>
        <% end %>
        <span class="edit text-right">
            <% if current_user?(user) %>
                <%= link_to "編集", edit_user_tip_path(user,tip), class:"text-right"  %>
            <% end %>
        </span>
    </div>
</li>