<% provide(:tip, "Tipの編集") %>
<li id="tip-<%= tip.id %>">
    <%= link_to gravatar_for(tip.user, size: 50), tip.user %>
    <span class="user">
        <%= link_to tip.user.name, tip.user %>
    </span>
    <%= link_to user_tip_path(@user,tip.id), class:"tips_detail" do %>
        <span class="tip_content">
            <%= tip.content %>
        </span>
        <ol class="reason_content" %>
            <% tip.reasons.each do  |reason| %>
                <li><%= reason.content %></li>
            <% end %>
        </ol>
        <div>
            <span class="timestamp">
                 Posted <%= time_ago_in_words(tip.created_at) %> ago.
            </span>
                
            <% if tip.user_id != current_user.id %>
                <span class="edit text-right">
                    <%= link_to "引用する", "/users/#{@user.id}/tips/refer/#{tip.id}" , class:"text-right"  %>
                </span>
            <% end %>
        </div>
    <% end %>
</li>