<header class="fixed-top navbar-dark bg-dark">
    <div class="container">
        <%= link_to "Tips Shelf", root_path, id: "logo" %>
        <nav class="navbar navbar-expand-md navbar-right">
            <button type="button" class="navbar-toggler ml-auto" data-toggle="collapse" data-target="#Navber" aria-controls="Navber" aria-expanded="false" aria-label="ナビゲーションの切替">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="Navber">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><%= link_to "Home",   root_path , {class: "nav-link active"} %></li>
                    <li class="nav-item"><%= link_to "About",   about_path , {class: "nav-link active"}%></li>
                    <% if logged_in? %>
                    <li class="nav-item"><%= link_to "Users",users_path , {class: "nav-link active"} %></li>
                    <li class="nav-item">
                        <%= form_with(url: search_path,class: "navbar-form navbar-left form-inline h_search_form input-group", method: :get, local: true ) do |f|%>
                            <%= button_tag :type => "submit", :class =>"btn btn-default btn-s-md input-group-text" do %>
                                <i class="fas fa-search"></i>
                            <% end %>
                            <%= f.text_field :search ,class: "form-control h_search_field" %>
                        <% end %>
                    </li>
                    <li class="nav-item dropdown ">
                        <a href="#" class="nav-link active dropdown-toggle" data-toggle="dropdown">
                            Account <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu navbar-dark bg-dark">
                            <li class="dropdown-item"><%= link_to "Profile", current_user ,{class: "nav-link active"} %></li>
                            <li class="dropdown-item"><%= link_to "Setting", edit_user_path(current_user),{class: "nav-link active"}  %></li>
                            <li class="dropdown-item">
                                <%= link_to "Log out",logout_path, {method: :delete,class: "nav-link active"}  %>
                            </li>
                        </ul>
                    </li>
                    <% else %>
                    <li class="nav-item"><%= link_to "Log in", login_path , {class: "nav-link active"} %></li>
                    <% end %>
                </ul>
            </div>
        </nav>
    </div>
</header>